.btn {
    background-color: #3498db; 
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin: 5px;
    font-size: 16px;
}
.operators .btn {
    background-color: #e74c3c;
}
.operands .btn {
    background-color: #2ecc71;
}
input{
    padding-top:5px ;
    margin: 10px;
    padding-left: 100px;
}

h1{
    padding-left: 600px;
}
    .container {
        border: 5px solid black;
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 10px;
    }
